button,
input,
select {
  appearance: none;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  border-radius: var(--border-radius);
  background-color: var(--background-color-000);
  color: var(--foreground-color-400);
  border: solid 1px var(--background-color-500);
  outline: none;
  transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;

  &:hover {
    border-color: var(--accent-color-100);
  }

  &:focus-visible {
    border-color: var(--accent-color-400);
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  border-color: var(--accent-color-100);
  color: var(--accent-color-200);

  &:hover {
    border-color: var(--accent-color-400);
    color: var(--accent-color-400);
  }
}

select {
  padding-right: 1rem;
}
