*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: var(--page-margin);
}

.fl {
  display: flex;

  &.fl-wrap {
    flex-wrap: wrap;
  }

  &.fl-col {
    flex-direction: column;
  }

  &.fl-gap {
    gap: var(--flex-gap);
  }

  &.fl-algn-cnt {
    align-items: center;
  }

  &.fl-algn-srt {
    align-items: start;
  }

  &.fl-algn-end {
    align-items: end;
  }

  &.fl-jst-cnt {
    justify-content: center;
  }

  &.fl-jst-srt {
    justify-content: start;
  }

  &.fl-jst-end {
    justify-content: end;
  }
}
