:root {
  --paper: hsl(0, 0%, 100%);
  --ink: hsl(210, 10%, 15%);

  height: 100%;
  font-family: -apple-system, sans-serif;
  background-color: var(--paper);
  color: var(--ink);
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper: hsl(210, 5%, 10%);
    --ink: hsl(40, 5%, 85%);
  }
}
