*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, Roboto, Helvetica, sans-serif;
  background-color: #181a1a;
  color: #dad9d9;
}

body {
  margin: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}
