//===============================================================================
// TYPOGRAPHY
//===============================================================================
%type_body{ 
  font-size: 1.0625em;
  font-family: $body-font;
  line-height: 1.4;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
pre{
  margin: 0 0 .6em 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  color: $header;
}

// font sizes
//===============================================================================
.tera{
  font-size: 4.6em;
}

.giga{
  font-size: 3.5em;
}

.mega{
  font-size: 2.6em;
}

.tera,
.giga,
.mega{
  line-height: 1.1;
}

.alpha{
  font-size: 2em;
  line-height: 1.2;
}

.beta{
  font-size: 1.5em;
  line-height: 1.2;
}

.gamma{
  font-size: 1.17em;
  line-height: 1.2;
}

.delta{
  font-size: 1em;
  line-height: 1.2;
}

.epsilon{
  font-size: .83em;
  line-height: 1.2;
}

.zeta{
  font-size: .75em;
  line-height: 1.2;
}

.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta{
  line-height: 1.2;
}

h1{
  @extend .alpha;
  margin-bottom: (.6em / 2);
}

h2{
  @extend .beta;
  margin-bottom: (.6em / 1.5);
}

h3{
  @extend .gamma;
  margin-bottom: (.6em / 1.17);
}

h4{
  @extend .delta;
  margin-bottom: (.6em / 1);
}

h5{
  @extend .epsilon;
  margin-bottom: (.6em / .83);
}

h6{
  @extend .zeta;
  margin-bottom: (.6em / .75);
}

ol{
  padding-left: 1.4em;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  color: $link;
  font-weight: bolder;

  &:hover{
    color: darken($link, 10);  
  }
}

blockquote{
  margin: 0;
  padding: 0 2em;
  border-left: .2em solid $ink;
  font-style: italic;

  p:before{
    margin: 0 .2em 0 -.6em;
    content: "“";
  }

  p:after{
    content: "”";
  }
}

p code{
  @include border-radius(.2em);

  padding: .1em .4em .2em;
  border: 1px solid darken($paper, 15);
  background-color: darken($paper, 5);
}

pre{
  @include border-radius(.2em);

  padding: .85em 1.05em;
  background-color: lighten($ink, 20);
  color: $paper;
}

hr{
  margin: 2em 0;
  border: 0;
  border-top: 1px dashed $ink;
}