@import 'base';

html {
  font-size: 16px;
  font-family: sans-serif;
  color: #346;
}

main {
  margin: 1rem;
}

pre {
  max-width: 14rem;
  min-height: 2.5rem;
  margin-top: .4rem;
  padding: .4rem .8rem;
  font-family: 'Fira Code', monospace;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.2rem;
  background-color: #dde;
}

pre i {
  font-weight: 300;
}