@import 'base';

html {
  font-size: 16px;
  font-family: sans-serif;
  color: #346;
}

main {
  margin: 1rem;
}

.pre-container {
  position: relative;
  max-width: 14rem;
}

pre {
  min-height: 2.5rem;
  margin-top: .4rem;
  padding: .4rem .8rem;
  font-family: 'Fira Code', monospace;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.2rem;
  background-color: #dde;
}

pre i {
  font-weight: 300;
}

.status-dot {
  position: absolute;
  display: block;
  width: .5rem;
  height: .5rem;
  top: .3rem;
  right: .3rem;
  border-radius: .25rem;
  background-color: #07f;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.status-dot.active {
  opacity: 1;
}