//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(0, 0, 0);
$link: hsl(220,100,40);
$header: $ink;

$body-font: sans-serif;

//===============================================================================
// IMPORTS
//===============================================================================
@import "compass/css3";
@import "_normalize.scss";
@import "_layout.scss";
@import "_typography.scss";
@import "_buttons.scss";
@import "_media-queries.scss";

//===============================================================================
// MIXINS
//===============================================================================

//===============================================================================
// HELPER-CLASSES
//===============================================================================
.text-list{
  list-style: disc;
  padding-left: 1em;
}

.clear-fix:after{
  content: "";
  display: table;
  clear: both;
}

//===============================================================================
// GLOBAL-STYLES
//===============================================================================
// apply box sizing everywhere
*{
  @include box-sizing(border-box);
}

body{
  @extend %type_body;

  background-color: $paper;
  color: $ink;
}

//===============================================================================
// DEV-STYLES
//===============================================================================