.card-outer {
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: max-height .35s ease-in-out;

  &.open { max-height: 30rem; }
  &.closed { max-height: 3.4rem; }
}

.card-header {
  border-bottom: 1px solid $gr-90;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  h3 {
    margin: 0;
    line-height: 1;
  }
}

.card-item-count {
  margin-left: auto;
  margin-right: .5rem;
}

.card-show-hide {
  position: relative;
  height: 1rem;

  .closed & {
    transform: rotate(180deg);
  }
}

.card-content {
  padding: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;

    &:nth-child(odd) { padding-right: .5rem; }
    &:nth-child(even) { padding-left: .5rem; }
  }

  p { margin-top: .25rem; }
}