//===============================================================================
// GLOBAL-VARIABLES
//===============================================================================

// COLOURS
//===============================================================================
$paper: white;
$ink: black;
$body-font: sans-serif;

$header: $ink;
$link: blue;

// DIMENSIONS
//===============================================================================
   $tera: 4.6em;
   $giga: 3.5em;
   $mega: 2.6em;
  $alpha: 2em;
   $beta: 1.5em;
  $gamma: 1.17em;
  $delta: 1em;
$epsilon: 0.83em;
   $zeta: 0.75em;