input[type='text'] {
  width: 100%;
  padding: 1rem;
  color: $gr-20;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid $gr-90;

  &::placeholder {
    font-style: italic;
  }
}

.input-container {
  border-radius: 4px;
  background-color: white;

  label {
    display: inline-block;
    font-size: .6rem;
    margin-left: 1rem;
    margin-top: .5rem;
  }

  input {
    font-size: 1.17rem;
    padding-top: .5rem;
  }

  ul {
    overflow-y: auto;
    transition: max-height .35s ease-in-out;
  }

  &.closed ul { max-height: 0; }
  &.open ul { max-height: 24rem; }

  li {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    transition: color .25s ease-in-out;

    &:not(:last-child) {
      border-bottom: 1px solid $gr-90;
    }

    &:hover {
      color: $gr-10;
    }
  }
}

#country-input {
  .flag {
    font-size: 1.5rem;
    margin-left: auto;
    filter: grayscale(1);
    opacity: .5;
    transition: color .25s ease-in-out;
  }

  li:hover .flag {
    opacity: 1;
  }
}