//===============================================================================
// LAYOUT
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  @include box-sizing;
  
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}

html,
body {

}