//===============================================================================
// MIXINS
//===============================================================================
// to-do
// consistent mixins for
// * clearfix
// appearance
// hide-text

// CLEAR FIX
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}