//===============================================================================
// MIXINS
//===============================================================================
// to-do
// consistent mixins for
// * clearfix
// appearance
// hide-text

// CLEAR FIX
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// APPEARANCE
// @include apperance;
@mixin appearance( $value: none ) {
  -webkit-appearance: $value;
     -moz-appearance: $value;
          appearance: $value;
}

// HIDE TEXT
// @include hide-text;
@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}