//===============================================================================
// LAYOUT
//===============================================================================

// base type styles
//===============================================================================
body {
  background-color: $paper;
  color: $ink;
  font-family: $body-font;

  &::selection {

  }
}

// header styles
//===============================================================================
h1, h2, h3, h4, h5, h6 {
  color: $header;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

// text element styles
//===============================================================================
p {

}

span {

}

a {
  color: $link;

  &:hover {

  }

  &:active {

  }

  &:visited {

  }
}

blockquote {

}

i,
em {

}

b,
strong {

}

small {

}

// list styles
//===============================================================================
ul {

}

ol {

}

li {

}

ul.text-list {
  list-style: disc;
}

// code styles
//===============================================================================
pre {

}

code {

}

kbd {

}