@import 'normalize';
@import 'base';

// COLORS
$gr-10: hsl(0, 0%, 10%);
$gr-20: hsl(0, 0%, 20%);
$gr-40: hsl(0, 0%, 40%);
$gr-60: hsl(0, 0%, 60%);
$gr-80: hsl(0, 0%, 80%);
$gr-90: hsl(0, 0%, 90%);

.gr-10 { background-color: $gr-10; }
.gr-20 { background-color: $gr-20; }
.gr-40 { background-color: $gr-40; }
.gr-60 { background-color: $gr-60; }
.gr-80 { background-color: $gr-80; }
.gr-90 { background-color: $gr-90; }
.white { background-color:  white; }

html {
  background-color: $gr-90;
  color: $gr-40;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  color: white;

  nav { margin-left: auto; }
  ul { display: flex; }
  li { margin-left: 1rem; }
}

.app-container {
  max-width: 44rem;
  margin: 0 auto;
  padding: 6rem 1rem;
}

.card-outer {
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
  transition: max-height .35s ease-in-out;

  &.open { max-height: 30rem; }
  &.closed { max-height: 3.4rem; }
}

.card-header {
  border-bottom: 1px solid $gr-90;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  h3 {
    margin: 0;
    line-height: 1;
  }
}

.card-item-count {
  margin-left: auto;
  margin-right: .5rem;
}

.card-show-hide {
  position: relative;
  height: 1rem;

  .closed & {
    transform: rotate(180deg);
  }
}

.card-content {
  padding: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;

    &:nth-child(odd) { padding-right: .5rem; }
    &:nth-child(even) { padding-left: .5rem; }
  }

  p { margin-top: .25rem; }
}