//===============================================================================
// MIXINS
//===============================================================================
// box-sizing
// @include box-sizing( border-box );
@mixin box-sizing( $box-model ) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}

// micro clearfix
// @include clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}